.cycle-status-loader-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.cycle-status-loader {
  height: 15px;
  width: 100px;
  background: radial-gradient(closest-side at 37.5% 50%,#000 94%,#0000) 0/calc(80%/3) 100%;
  animation: l47 .75s infinite;
  padding: 10px;
}
@keyframes l47 {
  100% {background-position: 36.36%}
}