<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Status</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/line_status.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="line-status-container">
    <span class="indicator" style="background-color: {{line.get_indicator_colour()}};"></span>
    <div class="line-status-content">
        <h1>{{line.display_name}}</h1>
        {% for status in line.get_status() %}
            <p>{{status.value}}</p>
        {% endfor %}
    </div>
</div>
</body>
</html>