{% import "line_status/_line_status.html" as components %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/line_status.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="line-statuses">
        {% for line in lines %}
            {{ components.line_status(line) }}
        {% endfor %}
    </div>
</body>
</html>