<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/line_status.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/line_statuses.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/line_status_loader.js') }}"></script>
</head>
<body>
    <div id="line-statuses"></div>
</body>
</html>