{% extends "base.html" %}
{% block head %}
    <title>Dashboard</title>
    <link href="{{ url_for('static', filename='styles/line_status/line_status.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/line_status/line_statuses.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/line_status_loader.js') }}"></script>
    <script>
        window.lines = {{ lines|tojson }};
    </script>
{% endblock %}
{% block body %}
    <div id="line-statuses">
        {% for line in lines %}
        <div id='{{line.id}}' class="line-status-loader-container">
            <div class="line-status-loader"></div>
            <div class="line-status-content">
                <h1>{{line.display_name}}</h1>
                <p>Loading status...</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}