{% extends "base.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <title>Dashboard</title>
{% endblock %}
{% block body %}
    <div class="main-container">
        <iframe src="/line_statuses" style="height: 50%; width: 30%" class="widget-frame"></iframe>
        <iframe src="/cycle_statuses" style="height: 50%; width: 60%" class="widget-frame"></iframe>
        <iframe src="/weather/london?display_name=London" style="height: 40%; width: 95%" class="widget-frame"></iframe>
    </div>
{% endblock %}