{% extends "base.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <title>Dashboard</title>
{% endblock %}
{% block body %}
    <div class="main-container">
        <iframe src="/line_statuses" style="width: 40%" class="widget-frame"></iframe>
        <iframe src="/cycle_statuses" style="width: 60%; padding: 10px" class="widget-frame"></iframe>
        <iframe src="/weather/london?display_name=London" style="width: 100%; padding: 10px" class="widget-frame"></iframe>
    </div>
{% endblock %}